/Leccion01/MundoPc/nbproject/private/
/Leccion01/MundoPc/build/
/Leccion02/ArgumentosVariables/nbproject/private/
/Leccion02/ArgumentosVariables/build/
/Leccion02/Enumeraciones/nbproject/private/
/Leccion02/Enumeraciones/build/
/Leccion02/BloquesInicializacion/nbproject/private/
/Leccion02/BloquesInicializacion/build/
